<section>
  <div class="grid p-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4 gap-4">
    <%= for poem <- @poems_collection do %>
      <.live_component
        module={PoemComponent}
        poem={poem}
        action={@live_action}
        id={poem.id}
      />
    <% end %>
  </div>
</section>
