<!DOCTYPE html>
<html lang="en" data-theme="cupcake" id="page">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Todku", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-base-200 py-0 sm:pt-4 md:pt-4 lg:pt-4 xl:pt-4 2xl:pt-4 min-h-screen">
    <main class="container mx-auto min-h-screen">
      <%= @inner_content %>
    </main>
  <footer class="footer footer-center p-4 pt-0 text-red-500">
    <div>
      <%= link to: Routes.download_path(@conn, :index), class: "" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>
  </footer>
  </body>
</html>
